header {
  height: 80px;
   background-color: #262626;
}

body {
  background-color: #f9f8f3;
  font-family: 'Hind', sans-serif;
}

.name {
  margin-top: 20px;
  float: left;
  color: #ffde00;
  font-size: 25pt;
  margin-left: 10px;
}

.header ul {
  float: right;
  list-style: none;
  margin-right: 10px;
  margin-top: 10px;
}

ul {
  display: block;
}

.name p, ul, li {
  padding-top: 10px;
  font-size: 12pt;
  color: black;
}

.header li {
  display: inline-block;
  padding: 5px;
}

.header a {
  text-decoration: none;
  font-size: 18pt;
  color: #0f9fb4;
  color: #ffde00;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 20px;
  box-shadow: 2px 1px 1px 2px #6f7d80;
  padding: 1.5em;
  margin-bottom: 30px;
}

.add-top {
  margin-top: 50px;
}

.content span a {
  text-decoration: none;
  float: right;
  font-size: 24px;
}

.content span img {
  height: 50px;
  width: 50px;
}

.myphoto{
  border-radius: 78%;
  float: left;
}

.contact img {
  width: 30px;
  height: 30px;
}
.contact p {
  float: left;
}

span {
  font-size: 24px;
  color: #ffde00;
  padding-left: .5em;
}

